{% extends "layout.html" %}

{% block body %}
<style type="text/css">
ul {
  white-space: nowrap;
}

ul, li {
  list-style: none;
  display: inline;
}
</style>


		<div id="images">
			{% for m in media %}
				<p>
					<img src="{{m.img_url}}" alt="">
					<form action="" method="post">
						<input type="text" name="url{{m.un_id}}">
  					</form>
				</p>

			{% endfor %}
		</ul>
	</div>

<style>
        #images  {
        width: 1800px;
        height: 300px;
    }
    #images img {
        float: left;
    }
    #images form {
    	float: left;
    }
</style>

{% endblock %}